@mixin font {
  font-size: 20px;
  font-weight: 400;
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

/* 스크롤 함수 */
@mixin scroll() {
  &::-webkit-scrollbar {
    width: 5px;
    background: transparent;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #787878;
    border-radius: 40px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

body {
  // html 변수
  --border-color: #ddd;
  height: 100vh;
  background-image: linear-gradient(125deg, black, #b4b4b4);
  min-height: 100vh;
  padding-top: 80px;
  box-sizing: border-box;
  overflow: hidden;
  @include font;
  .showmovie {
    @include scroll();
  }
}
